 body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Styles for the main footer block */
footer {
  background-color: #f0f0f0;
  padding: 20px;
  color: #333;
}

/* Styles for the block with icons and labels */
.icons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.icon-item {
  display: flex;
  align-items: center;
}

.icon-item img {
  margin-right: 10px;
}

/* Styles for the block with social icons and contacts */
.social-icons-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
  opacity: 0.8;
}

.social-icon-item {
  display: flex;
  align-items: center;
}

.social-icon-item a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.social-icon-item img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.links {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  opacity: 0.8;
  margin-top: 20px;
}

.links a {
  color: rgba(0, 0, 0, 0.8);
}

/* Styles for the block with the visa icon and text in the top right corner */
.visa-container {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: -40px;
}

.visa-container img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.visa-container1 {
  background-color: white;
}

/* Styles for the block with text in the bottom part of the footer */
.copyright-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}
#cartG{
  margin-top: -100px;
}