.body {
    background-color: black;
  }

  .ll {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  object-fit: cover;
  }

  .AboutCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
  }
  
  .Card {
    width: calc(33.33% - 10px); /* 10px - отступ между карточками */
    margin-bottom: 10px; /* Отступ между рядами карточек */
  
    /* Первые три карточки сверху */
    &:nth-child(-n + 3) {
      order: -1; /* Поднимаем их наверх */
    }
  
    /* Две карточки между ними внизу */
    &:nth-child(n + 4):nth-child(-n + 5) {
      order: 1; /* Опускаем их вниз между первыми тремя карточками */
      margin-top: 10px; /* Отступ сверху для создания пространства */
    }
  
    /* Делаем две нижние карточки близко друг к другу */
    &:nth-child(n + 4) {
      margin-right: 5px; /* Отступ справа */
    }
    &:nth-child(-n + 5) {
      margin-left: 5px; /* Отступ слева */
    }
  }
  
  